@{ 
    ViewBag.Title = "文章编辑";


}
@model Article
<h3>文章编辑</h3>
<form  class="form-horizontal">
    <div class="form-group">
        <label asp-for="Title" class="col-lg-2 control-label"></label>
        <div class="col-lg-7">
            <input asp-for="Title" placeholder="" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Summary" class="col-lg-2 control-label"></label>
        <div class="col-lg-7">
            <input asp-for="Summary" placeholder="" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ArticleType" class="col-lg-2 control-label"></label>
        <div class="col-lg-7">
            <select asp-for="ArticleType" asp-items="Html.GetEnumSelectList<ArticleType>()" class="form-control"></select>
         </div>
    </div>
    <div class="form-group">
        <label asp-for="CoverUrl" class="col-lg-2 control-label"></label>
        <div class="col-lg-7">
            <button type="button" class="form-control-static btn btn-primary">选择</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-7">
            <button type="submit" class="btn btn-sm btn-default">保存</button>
        </div>
    </div>
</form>



